@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

.lineStyle {
  @apply w-20 bg-black my-[10px] mx-auto h-[1.5px];
}
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
